-INTRO-

Hi, my name is Austin Chen and I am partnered with John Ross on our web app project. As we 
both took upon the roles of being full stack developers, I was more involved in the front-end
of the project, while John was more involved in the back-end.

Today, our presentation today will be on a budgeting app in which we created through MERN.
In a world where society has constructed money to rule the actions of everyone, financial expenditures
are very often the deciding factor of people's actions. When we keep on spending, often times we fall
blind to the accumulation of all our bills and expenses. Growing up, school has taught us lots of things,
unforunately, for many people including myself, checks and balances were not one of them. Today, we present
to you our aid and solution in trying to help make it easier for people to organize their spendings with Budget Guard.

We choose to use MongoDB, Express, React, and Node.js because of the reactiveness and ability to _ and
the efficiency of ___}. It seemed like the right choice going into this project and we were both pleased 
with the results.

- HomePage -

- Features -

- Registration -

- Login -

- CRUD backend -

- About/Contact Us -

- DIFFICULTIES we ran into -

- FUTURE for this project -

- QUESTIONS -





