-INTRO-

Hi, my name is Austin Chen and I am partnered with John Ross on our web app project. As we 
both took upon the roles of being full stack developers, I was more involved in the front-end
of the project, while John was more involved in the back-end.

Today, our presentation today will be on a budgeting app in which we created through MERN.
In a world where society has constructed money to rule the actions of everyone, financial expenditures
are very often the deciding factor of people's actions. When we keep on spending, often times we fall
blind to the accumulation of all our bills and expenses. Growing up, school has taught us lots of things,
unforunately, for many people including myself, checks and balances were not one of them. Today, we present
to you our aid and solution in trying to help make it easier for people to organize their spendings with Budget Guard.

We choose to use MongoDB, Express, React, and Node.js because of the reactiveness and ability to render adaptive data and
the efficiency of node.js. It seemed like the right choice going into this project and we both had a lot of fun creating
the project.

->
go to introducing joint budgeting
:: We believe every dollar should have a purpose, whether its for living expenses, leisure, or investing. Sometimes it gets
difficult when money is not allocated in certain spending areas so we approached this by giving each dollar a job.
:: Rule Two is to be a realist about your expenditures. There are always uncertainties in life that we face, and to better
manage money, its important to be prepared to account for these shadow expenses.
:: Finally, nothing is set in stone, and money is made to be used. Be flexible, but be organized at the same time.
-> Samples
:: These are samples of something of how we want our app to possible look like in the future. The structure will be seperated
into tabs to reflect balances, bills, and budgets.
-> Carousel
:: Budget Guard's mission is to help everybody- families, friends, and each individual we come across to better prepare themselves
for the future. No one will care about your financials for you and its time to take charge today.
-> Go to top of page
:: For those who will be spending some time organizing their data, we also implemented a light and dark mode.
-> Go to features page
:: On our features page, we show off some of the features that will be found on our webapp, with soon to be phone app.
I mentioned the bills and budgeting, but even further, we will have a section where it also stores the subscriptions that 
the user has for reoccuring payments. 
:: Easy to use and smooth user interface is the goal of our project to reflect on the web app and hopefully for a mobile app as well.
:: Track your payments
:: And if we've convinced you by now, we've conveniently added a sign up button here that takes you to the registration.

- CRUD backend -

- About/Contact Us -
Closing out, we added a about us page that leads the visitor to 

- FUTURE for this project -

- QUESTIONS -





